<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title> Авторизация NASA</title>
  <style>

  </style>
</head>
<body>
    <div>
        <h1>Добавить ячейку</h1>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ cell.id }}">
            {{ form.subject_code }}<br>
            {{ form.room }}<br>
            {{ form.teacher_pk }}<br>
            {{ form.event }}<br>
            <span>{{ error }}</span>
            <button type="submit">Принять</button>
        </form>>
    </div>
    <script>
    </script>
</body>
</html>
